<ion-header>
  <ion-toolbar>
    <ion-title [routerLink]="'/home'">
      Aprenda
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="contact"></ion-icon>
        Perfil  
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="img-slide" src="../../assets/img/aprende-sem-shadow.jpg" />

  <ion-button expand="block" class="ion-activatable" [routerLink]="'/cadastro-aluno'">
    Cadastrar
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </ion-button>
  <ion-button expand="block" class="ion-activatable" [routerLink]="'/ilap'">
    Conversar com ILap 
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </ion-button>

</ion-content>