<ion-header>
  <ion-toolbar>
    <ion-title [routerLink]="'/home'">
      ConstruLap
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="contact"></ion-icon>
        Perfil
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card-background-page" > 
    <img src="../../assets/img/construir.png" [routerLink]="'/house-info'" />
    <div class="card-title" [routerLink]="'/house-info'" >Reformar</div>
    <div class="card-subtitle" [routerLink]="'/house-info'" >Quero reformar</div>
  </ion-card>
  <ion-card class="card-background-page" > 
    <img src="../../assets/img/aprender.png" [routerLink]="'/aprender'" />
    <div class="card-title" [routerLink]="'/aprender'">Aprender</div>
    <div class="card-subtitle" [routerLink]="'/aprender'">Quero aprender</div>
  </ion-card>
  <ion-card class="card-background-page" > 
    <img src="../../assets/img/ensinar.png" [routerLink]="'/ensinar'" />
    <div class="card-title" [routerLink]="'/ensinar'">Ensinar</div>
    <div class="card-subtitle" [routerLink]="'/ensinar'">Quero ensinar</div>
  </ion-card>
</ion-content>